language: php

php:
   - '5.3'
   - '5.4'
   - '5.5'
   - '5.6'
   - '7.0'

env:
   - CFG=sqlite
   - CFG=mysql-travis
   - CFG=psql-travis

install:
   - mysql --version
   - composer self-update
   - composer update --dev
   - chmod +x vendor/bin/phpunit
   - chmod +x tests/setup-travis.sh
   - ./tests/setup-travis.sh

services:
   - mysql
   - postgresql

script:
   - vendor/bin/phpunit -c tests/full.xml

notifications:
   email:
      recipients:
         - travis-ci-monitor@sallycms.de
